.App{
  text-align: center;
}

.game{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.card{
  height: 30px;
  width: 30px;
  background-color: lightgreen;
  font-size: 30px;
  padding: 10px;
}

.show{
  font-size: 30px;
}

.hide{
  font-size: 0;
}

.remove{
  visibility: hidden;
}