.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  width: 400px;
  background-color: bisque;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-item{
  display: flex;
  flex-direction: column;
  margin: 15px;
}

input{
  width: 300px;
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: none;
}

button{
  width: 150px;
  height: 40px;
  margin: auto;
  border-radius: 5px;
  font-size: 20px;
  background-color: lightblue;
  cursor: pointer;
}

label{
  font-weight: bold;
}